@charset "UTF-8";
/* reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

/* Variables */
/* tokens globales */
/* tokens semanticos */
/* mixin */
h1, h2, h3, h4, h5, body {
  font-family: "Figtree", sans-serif;
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5 {
  font-weight: 600;
  color: #404885;
}

body {
  background-color: #FEFEFF;
  font-weight: 100;
  color: #0B0B0B;
}

h1 {
  font-size: 56px;
  line-height: 62px;
  text-align: left;
}

h2 {
  font-size: 48px;
  line-height: 52px;
  text-align: center;
  margin-bottom: 16px;
}

h3 {
  font-size: 32px;
  line-height: 38px;
  text-align: center;
}

h4 {
  font-size: 16px;
  line-height: 20px;
  text-align: left;
}

/* ---- CLASES ---- */
.body-lg {
  font-size: 16px;
  line-height: 20px;
  text-align: center;
}

.body-md {
  font-size: 14px;
  line-height: 18px;
}

.body-sm {
  font-size: 12px;
  line-height: 14px;
}

.paragraph-margin {
  margin: 8px 0px;
}

header nav div a img {
  width: 40px;
}

header nav div ul li a {
  font-size: 14px;
  line-height: 18px;
  color: inherit;
  /* nav menu */
}

header nav div ul li a img {
  width: 16px;
  /* user actions img size */
}

/* ---- CLASES ---- */
.h2-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

/* NAVBAR BOOSTRAP */
.nav-container {
  background-color: #FEFEFF;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  display: flex;
  padding: 8px 68px;
  position: fixed;
  top: 0;
  z-index: 1000;
  width: 100%;
}

.nav-menu-spacing {
  display: flex;
  gap: 16px;
  padding-left: 40px;
}

.nav.menu.item {
  font-size: 14px;
  line-height: 18px;
  color: #0B0B0B;
}

.nav-right-menu {
  display: flex;
  align-items: center;
  padding-left: 40px;
  gap: 24px;
}

.search-container {
  display: flex;
  align-items: center;
  background-color: #EAF4F5;
  border-radius: 4px;
  padding: 4px 8px;
  width: 200px;
}

.search-container input {
  border: none;
  background: transparent;
  outline: none;
  font-size: 12px;
  flex: 1;
}

.search-container img {
  width: 16px;
  height: 16px;
}

.user-actions {
  display: flex;
  align-content: center;
  gap: 16px;
}

.user-actions-item {
  display: flex;
  align-items: center;
  gap: 4px;
  font-size: 12px;
  line-height: 14px;
  font-weight: 300;
}

.nav-active {
  font-weight: 600;
  text-decoration-line: underline;
  text-decoration-color: #79CBD3;
}

/* ---- CLASES ---- */
.bkg-color-verde {
  background-color: #EAF4F5;
}

.bkg-color-lila {
  background-color: #DADEFF;
}

/* INTRO */
.main-intro {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 64px;
  margin: 112px 80px 80px 80px;
}

.h1-intro {
  font-size: 48px;
  line-height: 52px;
  text-align: center;
  margin-bottom: 16px;
}

/* HOME */
.home-intro {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  margin: 80px;
}

.hero {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  background-color: #EAF4F5;
  padding: 112px 80px 80px 80px;
  gap: 80px;
}

.hero-content {
  display: flex;
  flex-direction: column;
  align-items: left;
  align-content: center;
  height: auto;
  gap: 40px;
}

.hero-superindice {
  color: #404885;
  font-size: 20px;
  line-height: 24px;
  text-align: left;
  font-weight: 400;
  margin-bottom: 4px;
}

.hero-body {
  font-size: 16px;
  line-height: 20px;
  text-align: left;
  margin-top: 8px;
}

.hero-img {
  width: 50vw;
}

/* NUEVA COLECCION */
.title-nueva-coleccion {
  font-size: 48px;
  line-height: 52px;
  text-align: left;
  margin-bottom: 24px;
}

.hero-nueva-coleccion {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  max-width: 1048px;
  gap: 80px;
  margin-bottom: 20px;
}

.hero-img-nueva-coleccion {
  width: 40vw;
}

/* QUIENES SOMOS */
.intro-paragraph {
  padding: 0px 128px;
  margin-bottom: 20px;
}

.timeline-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 80px;
}

/* ---- CLASES ---- */
.primary-button {
  background-color: #BFF0F5;
  color: #404885;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: auto;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  font-weight: 600;
  border: none;
  border-radius: 4px;
  padding: 8px 12px;
}

.primary-button:hover {
  background-color: #A6E8EF;
}

.primary-button:active {
  background-color: #79CBD3;
}

.secondary-button {
  background-color: #FEFEFF;
  color: #404885;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: auto;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  font-weight: 600;
  border: 1px solid #404885;
  border-radius: 4px;
  padding: 8px 12px;
}

.secondary-button:hover {
  color: #1E234B;
}

.secondary-button:active {
  color: #1E234B;
  border: 1.5px solid #404885;
}

.button-fill-content {
  width: 100%;
}

body main section div div a p {
  color: #0B0B0B;
  text-align: center;
  /* color del p de las cards */
}

body main section div div img {
  width: 200px;
  /* img size cards home */
}

body main section div div a img {
  width: 200px;
  height: 168px;
  /* img size cards camas */
}

/* ---- CLASES ---- */
/* CARDS */
.main-diversion-cards {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 1280px;
}

.card-plain {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}

.card-plain-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}

.card-title {
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  font-weight: 600;
  color: #404885;
}

.main-cards-full {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  gap: 40px;
  margin: 0px 80px;
}

.card-full {
  background-color: #DADEFF;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px;
  gap: 24px;
}

.card-full-img {
  width: 100%;
}

.card-shadow {
  display: flex;
  flex-direction: column;
  gap: 8px;
  max-width: 232px;
  box-shadow: 0 4px 10px rgba(0, 2, 10, 0.1);
  border-radius: 8px;
}

.card-shadow-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px 16px;
  gap: 16px;
}

.card-shadow-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 8px;
  gap: 4px;
}

.card-shadow-button {
  display: flex;
  padding: 16px;
  width: 100%;
}

.card-shadow-img {
  width: 100%;
}

/* PRODUCTOS */
.cards-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 40px;
}

body main section img {
  width: 16px;
  /* icono email size */
}

body main form label {
  font-size: 12px;
  line-height: 14px;
  text-align: left;
  /* label form */
}

/* formulario de contacto */
body main section form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
  padding: 0 40px 40px 40px;
  width: 60%;
}

/* ---- CLASES ---- */
/* TEXTFIELD */
.textfield {
  display: flex;
  align-items: center;
  max-width: 904px;
  gap: 16px;
  width: 50%;
}

.textfield-container {
  display: flex;
  align-items: center;
  gap: 8px;
  flex: 1;
  background-color: #FEFEFF;
  border: 1px solid #79CBD3;
  border-radius: 4px;
  padding: 8px 12px;
}

.textfield-container input {
  border: none;
  outline: none;
  flex: 1;
  font-size: 12px;
}

.textfield-container input::placeholder {
  color: #B9B9B9;
}

.textfield-container img {
  width: 16px;
  height: 16px;
}

textarea::placeholder {
  color: #B9B9B9;
  font-size: 12px;
}

select:invalid {
  color: #B9B9B9;
  font-size: 12px;
}

.contact-container {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 100%;
}

.button-container {
  display: flex;
  justify-content: center;
  padding-top: 24px;
}

/* CONTACTO */
.form-style {
  display: flex;
  justify-content: center;
}

.user-container {
  display: flex;
  justify-content: center;
  gap: 32px;
  width: 100%;
}

.timeline-item {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  margin: 0px 120px;
  gap: 40px;
}

.timeline-item-container {
  max-width: 34vw;
}

.timeline-item-inverse {
  flex-direction: row-reverse;
}

.timeline-item-title {
  font-size: 32px;
  line-height: 38px;
  text-align: left;
}

.timeline-body-md {
  font-size: 14px;
  line-height: 18px;
}

.text-inverse {
  text-align: right;
}

.tineline-img {
  width: 32vw;
  transition: transform 0.3s;
}

.tineline-img:hover {
  transform: scale(1.2);
}

.img-limit {
  overflow: hidden;
}

/* NUEVA COLECCION */
.galeria {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: auto auto;
  gap: 10px;
  max-width: 1048px;
  margin-bottom: 20px;
}

.img-galeria {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.grande {
  grid-row: span 2;
}

body footer div img {
  width: 40px;
  height: 40px;
  /* logo size */
}

body footer div div ul li a {
  color: #0B0B0B;
  /* color de enlaces del footer */
}

/* ---- CLASES ---- */
/* FOOTER */
.footer-spacing {
  display: flex;
  justify-content: space-between;
  padding: 32px 80px;
  width: 100%;
}

.footer-left {
  display: flex;
  gap: 24px;
}

.footer-left-text {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.footer-left-text-items {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.footer-mid-right {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.footer-mid {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.footer-mid-help {
  display: flex;
  gap: 24px;
  margin-bottom: 8px;
}

.footer-mid-help-item {
  display: flex;
  gap: 4px;
}

.footer-mid-rrss {
  display: flex;
  gap: 16px;
}

.footer-right {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.footer-right-img {
  display: flex;
  gap: 8px;
}

/* clases para las img del footer */
.img-ayuda {
  width: 16px;
  height: 16px;
  /* tamaño img ayuda del footer */
}

.img-rrss {
  width: 24px;
  height: 24px;
  /* tamaño img rrss del footer */
}

.img-pago-envio {
  width: 48px;
  height: 32px;
  /* tamaño img envio y pago del footer */
}

/* ----  MEDIAQUERIE ---- */
/* TABLET 992px */
@media (max-width: 992px) {
  /* GENERALES */
  h1 {
    font-size: 48px;
    line-height: 52px;
    text-align: center;
  }
  h2 {
    font-size: 40px;
    line-height: 44px;
  }
  h3 {
    font-size: 28px;
    line-height: 32px;
  }
  .h1-intro {
    font-size: 40px;
    line-height: 44px;
  }
  /* NAVBAR */
  .user-actions {
    flex-direction: column;
    align-items: left;
  }
  .nav-right-menu {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 16px 0 40px 40px;
    padding-left: 40px;
    width: 100%;
  }
  /* HOME */
  .hero {
    flex-direction: column;
    justify-content: center;
    gap: 40px;
  }
  .hero-content {
    align-items: center;
    gap: 32px;
  }
  .hero-superindice {
    text-align: center;
  }
  .hero-body {
    text-align: center;
  }
  .hero-img {
    width: 100%;
  }
  .main-diversion-cards {
    flex-direction: column;
    align-items: center;
    gap: 40px;
  }
  .card-plain {
    max-width: 400px;
  }
  .main-cards-full {
    flex-direction: column;
  }
  .textfield {
    width: 100%;
  }
  /* NUEVA COLECCION */
  .hero-nueva-coleccion {
    flex-direction: column;
    gap: 40px;
  }
  .title-nueva-coleccion {
    text-align: center;
  }
  .hero-img-nueva-coleccion {
    width: 100%;
  }
  .galeria {
    grid-template-columns: 1fr;
  }
  /* QUIENES SOMOS */
  .intro-paragraph {
    margin-bottom: 0px;
  }
  .timeline-item-title {
    font-size: 28px;
    line-height: 32px;
  }
  .timeline-container {
    gap: 48px;
  }
  .intro-paragraph {
    padding: 0px;
  }
  .timeline-item-container {
    max-width: 100vw;
  }
  .timeline-item {
    flex-direction: column;
    margin: 0px;
    gap: 20px;
  }
  .timeline-item-title {
    text-align: center;
  }
  .timeline-body-md {
    text-align: center;
  }
  .tineline-img {
    width: 80vw;
  }
  /* CONTACTO */
  .form-style {
    width: 100%;
  }
  /* FOOTER */
  .footer-spacing {
    flex-direction: column;
    gap: 40px;
  }
  .footer-left {
    flex-direction: column;
  }
}

/*# sourceMappingURL=style.css.map */
