

@use '../utilities/mixins'as *;


/* ----  MEDIAQUERIE ---- */

/* TABLET 992px */
@media (max-width: 992px){
    
    /* GENERALES */
    h1 {
        @include typo-styles(48px, 52px, center);
    }

    h2 {
        @include typo-styles(40px, 44px, null);
    }

    h3 {
        @include typo-styles(28px, 32px, null);
    }

    .h1-intro {
        @include typo-styles(40px, 44px, null);
    }

    /* NAVBAR */

    .user-actions {
        flex-direction: column;
        align-items: left;
    }

    .nav-right-menu {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 16px 0 40px 40px;
        padding-left: 40px;
        width: 100%;
    }

    /* HOME */
    .hero {
        flex-direction: column;
        justify-content: center;
        gap: 40px;
    }

    .hero-content {
        align-items: center;
        gap: 32px;
    }

    .hero-superindice {
        text-align: center;
    }

    .hero-body {
        text-align: center;
    }

    .hero-img {
        width: 100%;
    }

    .main-diversion-cards {
        flex-direction: column;
        align-items: center;
        gap: 40px;
    }

    .card-plain {
        max-width: 400px;
    }

    .main-cards-full {
        flex-direction: column;
    }

    .textfield {
        width: 100%;
    }

    /* NUEVA COLECCION */
    .hero-nueva-coleccion {
        flex-direction: column;
        gap: 40px;
    }
    
    .title-nueva-coleccion {
        text-align: center;
    }
    .hero-img-nueva-coleccion {
        width: 100%;
    }

    .galeria {
    grid-template-columns: 1fr;
    }

    /* QUIENES SOMOS */

    .intro-paragraph {
        margin-bottom: 0px;
    }

    .timeline-item-title {
        @include typo-styles(28px, 32px, null);
    }

    .timeline-container {
        gap: 48px;
    }

    .intro-paragraph {
        padding: 0px;
    }

    .timeline-item-container {
        max-width: 100vw;
    }

    .timeline-item {
        flex-direction: column;
        margin: 0px;
        gap: 20px;
    }

    .timeline-item-title {
        text-align: center;
    }

    .timeline-body-md {
        text-align: center;
    }

    .tineline-img {
        width: 80vw;
    }



    /* CONTACTO */
    
    .form-style {
        width: 100%;
    }

    /* FOOTER */
    .footer-spacing {
    flex-direction: column;
    gap: 40px;
    }

    .footer-left {
        flex-direction: column;
    }
}